.submit-area{
   
    margin-top: 70px;
    padding:40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;

}
body{
    padding: 100px;
}

#transaction-area{
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 20px;
}


.deposit{
        background-color:lightsalmon ;
       
}

.withdraw{
    background-color:slateblue ;
    
}
.balance{
        background-color: orange;
        
}